window-background = rgba(3, 10, 23, 0.96);
primary-border=#294563;
secondary-border=#21334b;
primary-text = white;
secondary-text = #9ab6d2;
ternary-text = #435970;
help-text-color = #58b9ff;
small-screen = 600px;
settings-width = 392px;
control-bar-height = 42px;
